langchain
langchain-community
langchain-openai
langchain-experimental
neo4j
wikipedia-api
tiktoken
yfiles_jupyter_graphs
yandex-chain
google-colab
json-repair
asyncio
tabulate
git+https://github.com/stanford-futuredata/ColBERT.git@main
torch==2.1.2
faiss-gpu==1.7.2
langdetect==1.0.9
huggingface-hub
fastapi
pydantic
uvicorn
python-dotenv
langchain_core
yandex_chain
git+https://github.com/Athe-kunal/dspy.git@main
